{% extends "base.html" %}

{% block title %}
    IesPrecip - Filter
{% endblock %}

{% block body %}
<script type="text/javascript" src="{{ url_for('static', filename='js/filter/filter.js') }}" defer></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/filter/export.js') }}" defer></script>
<div class="mt-5">
    <div class="d-flex justify-content-center align-items-center">
        <form id="filterDataForm" enctype="multipart/form-data" style="width:30vw">
            <div class="m-2">
                <div class="text-center">აირჩიეთ სადგური:</div>
                <select class="form-select text-center" id="stationSelect" name="station_id" required>
                    <!-- Dynamically populate stations here -->
                </select>
            </div>
            <div class="m-2">
                <div class="text-center pt-2">აირჩიეთ თარიღი:</div>
                <div class="text-center fw-lighter">YYYY-MM-DD</div>
                <input type="date" class="text-center form-control form-control" id="filterDate" name="date" value="{{ today_date }}" required>
            </div>
            <div class="row">
                <div class="col m-2">
                    <div class="text-center pt-2">საწყისი დრო:</div>
                    <div class="text-center fw-lighter">"00:00 - 12:00 -- AM (12-hour)" </div>
                    <input type="time" class="text-center form-control form-control" id="filterStartTime" name="start_time" step="1" value="00:00:00" required>
                </div>
                <div class="col m-2">
                    <div class="text-center pt-2">საბოლოო დრო:</div>
                    <div class="text-center fw-lighter">"12:00 - 24:00 -- PM (12-hour)"</div>
                    <input type="time" class="text-center form-control form-control" id="filterEndTime" name="end_time" step="1" value="23:59:59" required>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <div class="col-4">
                    <div class="text-center">აირჩიეთ ინტერვალი:</div>
                    <select class="form-select text-center" id="stepMin" name="step_min" required>
                        <option selected value="5">5 წუთი</option>
                        <option value="10">10 წუთი</option>
                        <option value="30">30 წუთი</option>
                        <option value="60">1 საათი</option>
                        <option value="120">2 საათი</option>
                    </select>
                </div>
            </div>
            <div class="m-5 text-center">
                <button type="submit" class="btn btn-sm btn-success">გაფილტვრა</button>
                <button type="reset" class="btn btn-sm btn-secondary">გასუფთავება</button>
            </div>
        </form>
    </div>

    <!-- Button to open export modal-->
    <button class="btn btn-sm btn-warning" onclick="openExportCSVModal()">CSV-ის ექსპორტი</button>

    <!-- The openExportCSVModal -->
    {% include "export.html" %}
    
    <!-- for Precip Data -->
    <div id="precipDataTableContainer" class="table-responsive-xxl text-center mt-2" style="font-size: small;">
        <table class="table align-middle table-bordered rounded-2 border-muted mb-0 bg-white table-striped">
            <thead class="table-secondary">
                <tr>
                    <th>Time: დრო</th>
                    <th>PR: წვიმის ინტენსივობა მმ/სთ</th>
                    <th>PA: წვიმის აკუმულაცია 24 სთ-ში</th>
                    <th>PAL: წვიმის აკუმულაცია მმ</th>
                </tr>
            </thead>
            <tbody id="precipDataTable" class="mb-3">
                <!-- Data will be populated dynamically here -->
            </tbody>
        </table>
    </div>
</div>
{% endblock %}