<script type="text/javascript" src="{{ url_for('static', filename='js/layout/navbar.js') }}" defer></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/auth/user.js') }}" defer></script>
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary" style="height: 3.5rem;">
    <div class="container-lg">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">GNSMC</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-start flex-grow-1 pe-3" id="navLinksStart">
                    <!-- Navigation items added here -->
                </ul>
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3" id="navLinksEnd">
                    <!-- Login, Registration, and Logout nav items will be added here by JavaScript -->
                </ul>
            </div>
        </div>
    </div>
</nav>

<!-- The UserModal -->
{% include "user.html" %}