{% extends "base.html" %}

{% block title %}
    IesPrecip - Login
{% endblock %}

{% block body %}
<script type="text/javascript" src="{{ url_for('static', filename='js/auth/login.js') }}" defer></script>
<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="static/img/login_img.webp"
            class="img-fluid" alt="Sample image">
    </div>
    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <div class="text-center mb-5">
            <h2>ავტორიზაცია</h2>
        </div>
        <form id="loginForm">
            <!-- Email input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="email">ელ.ფოსტის მისამართი</label>
                <input type="email" id="email" name="email" class="form-control form-control-lg"
                    placeholder="შეიყვანეთ ელ.ფოსტის მისამართი" required/>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-3">
                <label class="form-label" for="password">პაროლი</label>
                <input type="password" id="password" name="password" class="form-control form-control-lg"
                    placeholder="შეიყვანეთ პაროლი" required autocomplete="password"/>
                <i id="togglePassword"><img src="static/img/eye-hide.svg" alt="Icon eye-hide" width="25px" id="togglePasswordImg"></i>
            </div>

            <!-- Remember me and Forgot password -->
            <div class="d-flex justify-content-between align-items-center">
                <div class="form-check mb-0">
                    <input class="form-check-input me-2" type="checkbox" value="" id="rememberMe" />
                    <label class="form-check-label" for="rememberMe">
                        დამახსოვრება
                    </label>
                </div>
            </div>

            <!-- Submit button -->
            <div class="text-center text-lg-start mt-4 pt-2">
                <button type="submit" class="btn btn-primary" style="padding-left: 2.5rem; padding-right: 2.5rem;">შესვლა</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
